@font-face
	font-family: 'Roboto'
	font-style: normal
	font-weight: 400
	src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.woff2) format('woff2')

@font-face
	font-family: 'Roboto'
	font-style: italic
	font-weight: 400
	src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto-Italic.woff2) format('woff2')

@font-face
	font-family: 'Roboto'
	font-style: normal
	font-weight: 700
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.woff2) format('woff2')

@font-face
	font-family: 'Roboto'
	font-style: italic
	font-weight: 700
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(../fonts/Roboto-BoldItalic.woff2) format('woff2')
